.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid #eee;
}

.header > p {
  margin-top: 1.5% !important;
}

.header > h2 {
  margin-top: 1%;
  margin-left: 0 !important;
  padding-right: 900px;
}
