.header {
  border-bottom: 2px solid #eee;
  padding: 4%;
}
.header > h2 {
  display: inline;
  padding-right: 25px;
}
.header > div {
  display: inline-block;
}
.links {
  color: black;
  text-decoration-line: none;
  transition: all 1s;
  padding-left: 37px;
}

.links:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .header {
    padding: 1%;
  }
  .header > div {
    display: inline-block;
  }
  .links {
    padding-left: 350px;
  }
}
